<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Candidato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_candidato.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/Logo-de-SENA-png-verde.png') }}" type="image/png">
</head>

<body>
    <div class="container">
        <h1>Añadir Candidato</h1>
        <form action="{{ url_for('crear_candidato') }}" method="POST" enctype="multipart/form-data" onsubmit="mostrarModal(event)">
            <!-- Campo para el nombre -->
            <label for="nombre_candidato">Nombre del Candidato:</label>
            <input type="text" id="nombre_candidato" name="nombre_candidato" required>

            <!-- Campo para la foto -->
            <label for="foto_candidato">Foto del Candidato:</label>
            <input type="file" id="foto_candidato" name="foto_candidato" accept="image/*" required>

            <!-- Campo para la jornada -->
            <label for="jornada">Jornada:</label>
            <select id="jornada" name="jornada">
                <option value="mañana">Mañana</option>
                <option value="tarde">Tarde</option>
                <option value="mixta">Mixta</option>
                <option value="virtual">Virtual</option>
            </select>

            <!-- Botón para enviar -->
            <button type="submit">Crear</button>
        </form>
        <!-- Enlace para volver al panel -->
        <a href="/admin">Volver al Panel</a>
    </div>

    <!-- Modal de confirmación -->
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="modal">
        <p>Candidato Añadido Correctamente</p>
    </div>

    <script>
        function mostrarModal(event) {
            event.preventDefault(); // Evita el envío inmediato del formulario

            const overlay = document.getElementById('overlay');
            const modal = document.getElementById('modal');

            // Mostrar el modal y la superposición
            overlay.classList.add('show');
            modal.classList.add('show');

            // Ocultar el modal después de 2 segundos
            setTimeout(() => {
                overlay.classList.remove('show');
                modal.classList.remove('show');

                // Enviar el formulario después de cerrar el modal
                event.target.submit();
            }, 2000);
        }
    </script>
</body>

</html>